* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 450px;
}

.header,
.footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: aliceblue;
}

.wrapper {
    padding: 0 150px 0 100px;
    text-align: center;
}

.middle {
    float: left;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: antiquewhite;
}

.left {
    position: relative;
    margin-left: -100%;
    right: 100px;
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: aqua;
}

.right {

    float: left;
    margin-right: -150px;
    /* margin-right: -100%; */
    /* 上面这两种方法均可 */
    width: 150px;
    height: 100px;
    line-height: 100px;
    background-color: aquamarine;
}

.footer {
    clear: both;
}